<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="login"  routerLinkActive="active-link"><span>Login</span><mat-icon>chevron_right</mat-icon> </a>
      <a mat-list-item routerLink="dashboard"  routerLinkActive="active-link"><span>Post</span><mat-icon>chevron_right</mat-icon> </a>
      <a mat-list-item routerLink="comentarios"  routerLinkActive="active-link"><span>Comentarios</span><mat-icon>chevron_right</mat-icon> </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
     <mat-toolbar id="body_toolbar"
     *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
        <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>